{% extends 'base.html.twig' %}

{% block title %}Personnages
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-12">
		<pre>
			{{ dump(characters) }}
		</pre>
			<div class="row character-container">
				{% for character in characters.results %}             
				<div class="col-md-4">
					<div class="character-item text-center">
						 <a href="{{ path('character_show', {'id': character.id}) }}"><img src="{{ character.image }}" alt="XXX" class="img-fluid" style="padding: 10px; margin-top: none"></img></a>
					<h5>{{ character.name}}</h5>
                         {% if character.status == 'Alive' %}
                            a live
                            {% elseif  character.status == 'Dead' %}
                                dead
                                {% else %}
                                    unknow                             
                            {% endif %}  
				</div>
			</div>
			 {% endfor %}

		</div>
		<div class="pages"> 
		{% if prev_page == null %}
		{% else %}
		<a href="{{ path('characters', {'page': prev_page}) }}">Page précédente</a>
		{% endif %}
			 |
		{% if next_page == null %}
		{% else %} 
			 <a href="{{ path('characters', {'page': next_page}) }}">Page suivante</a> 
		{% endif %}
		</div>
	</div>
</div>
{% endblock %}
