{% extends 'base.html.twig' %}

{% block title %}{{ episode.episode }}{% endblock %}

{% block body %}
<div class="row" style="padding-top:3rem">
        <div class="col-md-12 my-auto">
            <ul style="	list-style: none;">
                <h1>{{ episode.name}} - {{ episode.episode }}</h1>
                <h5>
                    <li>Available from : {{ episode.air_date }}</li>
                </h5>
                    <hr>
                    <h3>Characters</h3>
                <h5>
                {% for result in results %}
                        <th><a href="{{ path('character_show', {'id': result}) }}">Character {{ result }}</a></th>
                {% endfor %}
                <hr>
                <small>Created : {{ episode.created|date("d/m/Y")}}</small>
            </ul>
        </div>
    </div>
{% endblock %}
